* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.mainContanier {
  display: flex;
  background-image: url(images/bg-desktop.png);
  background-color: hsl(229, 57%, 11%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.centerContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-basis: 90%;
}

.optionsCard {
  margin: 10px;
  background-color: hsl(228, 56%, 26%);
  padding: 25px;
  display: flex;
  border-radius: 10px 75px 10px 10px;
  height: 150px;
  width: 300px;
  flex-direction: column;
}
.logo {
  height: 40px;
  width: 135px;
  margin: 0 0 10px;
}


.optionButtonsContainer {
  display: flex;
}

.buttonBox {
  display: flex;
  background-color: hsl(229, 57%, 11%);
  margin: 10px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.storageCard {
  margin: 10px;
  background-color: hsl(228, 56%, 26%);
  padding: 25px 25px 35px;
  display: flex;
  flex-basis: 50%;
  border-radius: 10px;
  flex-direction: column;
}
.storageInfoMessage {
  color: hsl(229, 7%, 55%);
}

.userTotalUsage {
  color: hsl(243, 100%, 93%);
}

.storageProgressBar {
  width: 100%;
  height: 15px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 20px;
  margin-top: 5px;
}
.storageUsedProgressBar {
  border-radius: 20px;
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  width: 85%;
  height: 9px;
  display: flex;
  margin:3px;
  align-content: center;
  flex-direction: row-reverse;
}
.pointerStorageUsed  {
  background-color: white;
  height: 9px;
  width: 10px;
  border-radius: 20px;
}

.limitStorageBar {
  display: flex;
  justify-content: space-between;
  color: hsl(243, 100%, 93%);
}

.leftStorageCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 360px;
  bottom: 140px;
  background-color: white;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  height: 70px;
  width: 200px;
  color: hsl(229, 7%, 55%);
  font-weight: 700;
}

.leftStorageCard:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 0px;
  top: 70px;
  border: 10px solid;
  border-color: white white transparent transparent;
}


.numberLeftStorage {
  padding: 10px;
  color: black;
  font-size: 40px;
  font-weight: 900;
}

@media only screen and (max-width:550px) {
  .mainContanier{
    background-image: url('./images/bg-mobile.png');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
  }
  .centerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 40%;
  }
  
}
